<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:background="@{images/vlad.jpg}">
    <div style="width:600px;margin:20px auto;text-align: center">
        <table  align='center' border='1' cellspacing='0'>
            <tr>
                <td>文章题目</td>
                <td>查看</td>
                <td>删除</td>
                <td>查看</td>
            </tr>
            <tr th:each="c:${page}">
                <td th:text="${c.article_title}"></td>
                <td><a th:href="@{/getArticle(id=${c.article_id})}">查看</a></td>
                <td><a th:href="@{/deleteArticle(id=${c.article_id})}">删除</a></td>
                <td><a th:href="@{/editArticle(id=${c.article_id})}">编写</a></td>
            </tr>
        </table>
        <br>
        <form action="addArticle" method="post">
            title:<input name="article_title"><br>
            article_category_id:<input name="article_category_id"><br>
            content:<br>
            <textarea name="article_content" rows="30" cols="30"></textarea>
            <button type="submit">提交</button>
        </form>
    </div>
</body>
</html>