<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}"  />
<script type="text/javascript" th:src="@{js/bootstrap.js}"></script>

<style>
    div{
        margin: 5px;
    }
    .content{
        text-align: center;
    }

</style>


<script>
    function requestTest1(){
        var info = $('#info').val();
        $.ajax({
            type:'GET', // method type
            dataType:'text', // the return of expectational type from back
            url:'/hello/api',
            contentType: 'application/json; charset=utf-8',
            success: function (){
                $("#test1").html("successfully test");
            },
            error: function (){
                $('#test1').html("sorry the test has failed")
            }
        });
    }
</script>
<body style="background-color: gray;">
<div class="content">

    <div class="page-header">
        <h1>Management System</h1>
    </div>
    <form action="/login" method="post">
        <div class="input-group" style="width: 300px;margin: auto;">
            <span class="input-group-addon" >userName</span>
            <input id="info" name="userName" type="text" class="form-control" placeholder="userName" aria-describedby="basic-addon1"/>
            <p class="card-text" id="test1"> </p>
            <a href="#" class="btn btn-primary" onclick="requestTest1()">Test My UserName</a>
        </div>

        <div class="input-group" style="width: 300px;margin: auto;">
            <span class="input-group-addon">passWord</span>
            <input name="passWord" type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
        </div>
        <button class="btn btn-warning"><input type="submit" class="form-control" value="sign in"></button>
    </form>

</div>
</body>

</html>