<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}"  />
<script type="text/javascript" th:src="@{js/bootstrap.js}"></script>
<style>
    .content-nav{
        margin-left: 10px;
        height: 900px;
        width: 120px;
    }
    #content-Introduction{
        position: absolute;
        left: 150px;
        top: 10px;
    }
    #myTip{
        position: absolute;
        left: 150px;
        top: 200px;
    }
</style>

<body th:background="@{images/vlad.jpg}">
    <div class="content-nav">

    <ul th:each="c:${cs}" class="nav nav-pills nav-stacked">
        <li role="presentation" class="active" ><a th:text="${c.name}" th:href="@{/articleListW(id=${c.id})}"></a></li>
    </ul>

    </div>
    <div id="content-Introduction" class="panel panel-default">
        <div class="panel-body">
            Welcome everyone!<br>
            the frames we use here：<br>
            spring-boot mybatis thymeleaf，<br>
            mysql  ,  IDE：IDEA<br>
            e-mail:yhuang36@lakeheadu.ca<br>
            I also have a youtube channel here is the link：<br><a href="https://youtu.be/RbS6wD1obEE">youTubeLearn</a><br>
        </div>
    </div>
    <div id="myTip" class="panel panel-default">
        <div class="panel-heading">Java How2Learn</div>
        <div class="panel-body">
            <p>ok...</p>
            <p>I hope this website can help people who want to learn some about Java
            </p>
            <p>
                Firstly, I think the best start is to run a project from others,
                Then you may feel confuse about how it runs? therefore you will have the motivation to learn java
                and that is the reason why I create this webstie,
            </p>
        </div>
    </div>
</body>
</html>